body {
	background-color: rgba(209, 234, 255, 0.616);
}
.App {
	padding: 20px;
}

.LoadingContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.ListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding-bottom: 30px;
	background-color: rgba(209, 234, 255, 0.616);
}

.ListItem {
	margin: 20px;
	padding: 30px;
	width: 400px;
}

.BlogPost {
	width: 75%;
}
