.App {
	padding: 20px;
}

.LoadingContent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.ListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding-bottom: 30px;
}

.ListItem {
	margin: 20px;
	padding: 30px;
	width: 400px;
}
